.col-md-6.col-md-offset-3
  %h1 Помилка
  %div
    %h4 Ви допустили помилку при заповненні форми.
    %h4 Всі поля повинні бути заповнені числами, що більші за нуль.
    %h4 В дробових числах ціла та дробова частини розділяються крапкою
    %br
    .col-md-6.col-md-offset-3
      %a.btn.btn-primary.btn-lg{href:"/"}
        %span.glyphicon.glyphicon-home
        На головну