.col-md-6.col-md-offset-3
  %h1.text-center Кредитний онлайн-калькулятор
  %form{role:"form" ,action:'/result', method:'post' }
    %h3.form-calc-heading Кредитні відомості:
    .form-group
      %label{for:'procents'} Процентна ставка (%):
      %input.form-control#percent{type:'text', size:3, name:'credit_percent'}
      Увага: Дані вводяться через крапку!
    .form-group
      %label{for:'sum'} Сума кредиту:
      %input.form-control#sum{type:'text', name:'credit_sum', size:10}
    .form-group
      %label Метод погашення кредиту:
      .radio
        %label
          %input{type:'radio', name:'credit_type', value:'standard', checked:true}
            Стандартний
      .radio
        %label
          %input{type:'radio', name:'credit_type', value:'annuity'}
          Ануїтетний (рівними частинами)
    .form-group
      %label{for:'time'} Термін кредиту (в місяцях):
      %input.form-control#time{type:'text', size:5, name:'credit_time'}
    .form-group
      %input.btn.btn-success{type:'submit', value:'Розрахувати'}
      %input.btn.btn-default{type:'reset', value:'Очистити'}