.col-md-8.col-md-offset-2
  %h1.text-center Результати розрахунку по кредиту
  Процентна ставка:
  %b #{@params[:credit_percent]}%
  %br
  Сума кредиту:
  %b #{@params[:credit_sum]}
  %table.table.table-bordered{style:"border-spacing: 7px 11px"}
    %tr
      %th номер місяця
      %th погашення кредиту
      %th погашення %
      %th загальний внесок
      %th залишок кредиту
      -(@params[:credit_result].length-1).times do|x|
        %tr
          %td
            =x+1
          -@params[:credit_result][x].each do |key, value|
            %td
              ="%0.2f" % value
      %td
      -@params[:credit_result].last.each do |key, value|
        %td
          ="%0.2f" % value
      %td
  %a.btn.btn-primary.btn-lg{href:"/"}
    %span.glyphicon.glyphicon-home
    На головну