%html
  %h2 Результати розрахунку по кредиту
  .inputInfo
    Процентна ставка:
    %br
    Сума кредиту:
  %table{border:'3', cellpadding:'0', bordercolor:'black', :style => "border-collapse: collapse;"}
    %tr
      %td номер місяця
      %td погашення кредиту
      %td погашення %
      %td загальний внесок
      %td залишок кредиту