html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #eee;
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: inherit;
    margin-top: -20px;
}

.wrapper {
    max-width: 600px;
    padding-top: 40px;
    margin: 0 auto;
}

/*.wrapper-heading{*/
    /*margin-left: -15px*/
/*}*/

/*.wrapper .form-calc-heading,*/
/*.wrapper .checkbox {*/
    /*margin-bottom: 10px;*/
/*}*/
/*.wrapper .checkbox {*/
    /*font-weight: normal;*/
/*}*/
.wrapper .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.wrapper .form-control:focus {
    z-index: 2;
}